.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    user-select: none;
}

.table th,
.table td {
    border: 1px solid #ddd;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.highlighted {
    background-color: #ffe84a;
}