:root {
  --font-family: 'Noto Sans KR', sans-serif;
  --primary-color: #333;
  --bg-color: #ffd6b5;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

html a {
  text-decoration: none;
  color: inherit;
}

html ul, html ol {
  list-style: none;
}